nav {
    background: rgb(113, 175, 184);
}
nav li a {
  text-decoration: none ;
  color: rgb(0, 0, 0);
  
}
.informations {
  text-decoration: none ;
  background: rgb(61, 151, 163); 
  border : rgb(0, 0, 0) 1px solid ;
}
nav li a:hover, nav li a:focus, nav li a:active {
    text-decoration: none ;
    color: rgb(25, 4, 211);
  }

body{background-color: rgb(234, 235, 209);}

.informations div{
  display: flex;
}



footer{
  position: static;
  bottom: 0;
}